*
{
    padding: 0;
    margin: 0;
}

.page {
    margin: 0;
    height: 100vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #f8bc07;
    padding: 5vh;
    font-family: 'Press Start 2P';
    color: #ff8800ef;
    font-size: 38px;
    box-sizing: border-box;
    overflow: hidden;
}

.heading {
    font-size: 5vh;
    color: #fcbd02;
}

.data-box
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vh;
    width: 50%;
    flex-wrap: wrap;
}


.list
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    width: 100%;
    box-sizing: border-box;
}


#AvatarPhoto
{
    border: 4px solid #cc6d1f;
    border-radius: 6px;
    width: 25vh;
    height: 25vh;
    box-sizing: border-box;
    margin-right: 1vw;
}

.player-list__data
{
    color: #cc6d1f;
    margin-right: 15px;
    background-color: #f8d7ab;
}

.account-data
{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #f8d7ab;
    padding: 8px;
    justify-content: space-between;
    overflow: auto;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.account-data_withflex
{
    justify-content: space-between;
}



.friends-list__heading
{
    background-color: #f8d7ab;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 38vw;
}

.friends-list__data
{
    color: #cc6d1f;
}


.friends-data
{
    display: block;
    overflow: auto;
    max-height: 0px;
    width: 100%;
    font-size: 30px;
    background-color: wheat;
    transition: max-height 0.3s ease-out;
}

*::-webkit-scrollbar, .achi-data::-webkit-scrollbar {
    width: 20px; /* устанавливаем ширину полосы прокрутки */
}

*::-webkit-scrollbar-track, .account-data::-webkit-scrollbar-track, .achi-data::-webkit-scrollbar-track {
    background-color: #d6b078; /* устанавливаем цвет фона полосы прокрутки */
}

*::-webkit-scrollbar-thumb, .account-data::-webkit-scrollbar-thumb, .achi-data::-webkit-scrollbar-thumb {
    background-color: rgb(201, 101, 20); /* устанавливаем цвет полосы прокрутки */
}

.friends-list
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9vh;
}

.friends-list__logo
{
    display: flex;
    gap: 1.8vw;
}

.friends-list__toggler
{
    cursor: pointer;
    transform: rotate(270deg);
    transition: transform 0.3s ease-out;
}


.elstyle{
    padding: 12px 0px;
    background-color: rgb(255, 224, 179);
    color: #cc6d1f;
    cursor: default;
}

.add-friends
{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.8vw;
    background-color: #f8d7ab;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}




.modal-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    visibility: hidden;
}


.add-friend-box
{

    position: relative;
    margin: 0 auto;
    top: 35%;
    z-index: 1;
    width: 28%;
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 30px solid #ffc30e;
    background-color:#ffe6bf;
    visibility: hidden;
    gap: 3vh;   
}

.close-button
{
   position: absolute;
   right: -30px;
   top: -38px;
   cursor: pointer;
}

.add-friend-box__description
{
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 3vh;
}

#AddFriendInput
{
    width: 30vh;
    height: 4.5vh;
    margin-right: 1vw;
    font-size: 2vh;
    padding: 7px 12px 7px 12px ;
    box-sizing: border-box;
    border-radius: 1.5vh;
    border: 0.3vh solid #a88312;
    outline: none;
}

.add-friend-box__search-button
{
    font-family: 'Press Start 2P';
    font-size: 1.8vh;
    color: #ffc30e;
    padding: 1.5vh;
    margin-right: 2vh;
    border-radius: 2vh;
    cursor: pointer;
    border: 0.3vh solid #a88312;
    background: rgb(20, 20, 20);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


#AddFriend
{
    cursor: pointer;
}

.achievements-list{
    background-color: #f8d7ab;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 38vw;
}

.achievements-list__logo{
    display: flex;
    gap: 1.8vw;
}

.achievements-list__toggler{
    cursor: pointer;
    transform: rotate(270deg);
    transition: transform 0.3s ease-out;
}


.achievements-list__data{
    color: #cc6d1f;
}

.achi-data{
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 0px;
    width: 100%;
    font-size: 30px;
    background-color: wheat;
    transition: max-height 0.3s ease-out;
    background-color: rgb(255, 224, 179);
}




.achive__get{
    color: #c0b8b8;
    font-size: 1vh;
    margin: 0.3vh;
}

.achive {
    height: 10vh;
    width: 700px;
    font-size: 2.5vh;
    border-width:  1vh;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffe6bf;
    color: #ffc30e;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
    margin: 0.3vh;
}

.achive__img {
    height: 9vh;
    width: 9vh;
    margin-left: 1vh;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 0.5vw;
    width: 600px;
}

.achive__subtitle {
    font-size: 1.5vh;
    color: #838181;
    margin: 0.3vh;
}

.achive__steps {
    font-size: 1vh;
    color: #838181;
    margin: 0.3vh;
}



.col {
    display: flex;
    flex-direction: column;
}

.ach {
    /* width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 5vw;
    margin-top: 1vh; */
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 3vh;
    margin-top: 3vh;
    border-width:  1vh;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #f8d7ab;
    padding: 2vh;
}

.fl {
    display: flex;
    width: 100%;
}

.whole {
    display: flex;
    justify-content: space-between;
}

.friends {
    margin-top: 1vh;
    width: 45%;
}

.friend {
    border-width:  2px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #f8d7ab;
    padding: 5px;
}

.list-request
{
    display: flex;
    justify-content: space-between;
    height: 25vh;
    width: 100%;
    box-sizing: border-box;
}

.req {
    /* width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 5vw;
    margin-top: 1vh; */
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 3vh;
    border-width:  1vh;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #f8d7ab;
    padding: 2vh;
}

.human {
    border-width:  5px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #f8d7ab;
    display: flex;
    align-items: center;
}

.small-ava {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
}

.accept {
    width: 50%;
    height: 4vh;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #65c462;
    cursor: pointer;
}
.reject {
    width: 50%;
    height: 4vh;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c46962;
    cursor: pointer;
}

.choose {
    display: flex;
}