*
{
    padding: 0;
    margin: 0;
}

.page {
    margin: 0;
    height: 86vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #f8bc07;
    padding: 5vh;
    font-family: 'Press Start 2P';
    color: #ff8800ef;
    font-size: 38px;
}

.heading {
    font-size: 105px;
    color: #fcbd02;
}

.data-box
{
    display: flex;
    justify-content: space-between;
    margin-top: 13vh;
    flex-wrap: wrap;
}


.player-list
{
    display: flex;
    flex-direction: column;
    gap: 9vh;
    margin-right: 15px;
}


#AvatarPhoto
{
    border: 4px solid #cc6d1f;
    border-radius: 6px;
}

.player-list__data
{
    color: #cc6d1f;
    margin-right: 15px;
}

.account-data
{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 7vw;
    background-color: #f8d7ab;
    padding: 8px;
    justify-content: space-between;
    
}

.account-data_withflex
{
    justify-content: space-between;
}

#NickName{
   /* margin-left: 190px; */
}

#Level{
    /* margin-left: 304px; */
}

#FriendsCounter{

}

.friends-list__heading
{
    background-color: #f8d7ab;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15vw;

}

.friends-list__data
{
    color: #cc6d1f;
}


.friends-data
{
    display: none;
    margin-top: 48px;
    overflow: auto;
    max-height: 22vh;
    width: 100%;
    font-size: 30px;
    background-color: wheat;
}

.friends-data::-webkit-scrollbar {
    width: 10px; /* устанавливаем ширину полосы прокрутки */
}

.friends-data::-webkit-scrollbar-track {
    background-color: #d6b078; /* устанавливаем цвет фона полосы прокрутки */
}

.friends-data::-webkit-scrollbar-thumb {
    background-color: rgb(201, 101, 20); /* устанавливаем цвет полосы прокрутки */
}

.friends-list
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7.4vh;
}

.friends-list__logo
{
    display: flex;
    gap: 1.8vw;
}

.friends-list__toggler
{
    cursor: pointer;
    transform: rotate(270deg);
}


.elstyle{
    padding: 10px 0px;
}

.add-friends
{
    width: 100%;
    margin: 5vh 0 0 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8vw;
    background-color: #f8d7ab;
    padding: 8px;
    box-sizing: border-box;
}

#AddFriend
{
    cursor: pointer;
}