*
{
    margin: 0;
    padding: 0;
}

.page {

    height: 96vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #ffc30e;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 38px;
    overflow: hidden;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.design-field{
    background-color: rgb(218, 172, 121);
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(15, 60px);
    grid-template-rows: repeat(15, 60px);
    padding: 5px;
    margin-left: 50px;
    margin-top: 10px;
}

.design-field img{
    cursor: cell;
}

.heading{
    position: absolute;
    top: 2vh;
    left: 2vh;
    margin: 25px 0 0 2.3%;
    font-size: 78px;
}



.carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.gallery img {
    width: 200px;
    height: 200px;
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    display: block;
}
  
.arrow {
    cursor: pointer;
    height: 200px;
}
  
.prev {
    rotate: 180deg;
}
  
.next {
    margin-left: 2px;
}
  
.choose-tiles-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #ffa826;
    margin-top: 72px;
}

.gallery {
    width: 612px;
    overflow: hidden;
}
  
.gallery ul {
    height: 200px;
    width: 9999px;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
}
  
.gallery li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}


.buttons-box{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.menu-button{
    padding: 25px 20px;
    cursor: pointer;
    font-family: 'Press Start 2P';
    color: #ffa826;
    font-size: 30px;
    border-radius: 2px;
    border-color: #cf820e;
    background-color: #f0d9ba;
}

.create-new-map-button{
    padding: 25px 20px;
    cursor: pointer;
    font-family: 'Press Start 2P';
    color: #ffa826;
    font-size: 30px;
    border-radius: 2px;
    border-color: #cf820e;
    background-color: #f0d9ba;
}