*::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
  }
  
*::-webkit-scrollbar-track {
    background: #ffc30e;        /* цвет зоны отслеживания */
  }
  
*::-webkit-scrollbar-thumb {
    background-color: #ffc30e;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid #ffdb7f;  /* отступ вокруг бегунка */
  }

.page {
    margin: 0;
    height: 86vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #ffc30e;
    padding: 5vh;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 30px;

}

.centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player {
    display: flex;
    border-style: solid;
    margin-top: 10px;
    border-width: 5px;
    border-color: #ffc30e;
    padding: 4px;
    align-items: center;
    gap: 20px;
    background-color: #ffe6bf;
}

.avatar {
    height: 40px;
    width: 40px;
}

.title {
    font-size: 50px;
    margin: 0 auto;
}

.window {
    box-sizing: border-box;
    width: 40vw;
    height: 70vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 10px;
}

.settings {
    box-sizing: border-box;
    width: 40vw;
    height: 50vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.maps {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffe6bf;
    padding: 10px;

}

.list {
    overflow-y: scroll;
    height: 0vh;
    transition: height 0.3s ease-out;
    display: flex;
    flex-direction: column;
}

.triangle { 
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.button {
    box-sizing: border-box;
    margin-top: 5vh;
    width: 40vw;
    height: 15vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color:#d2ffc8;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.sector {
    font-size: 30px;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}