*
{
    margin: 0;
    padding: 0;
}

.page {

    height: 96vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #ffc30e;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 30px;
}

.button-list { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 8%;
}

.button-back{
    width: 10vw;
    cursor: pointer;
    margin-left: 5vw;
}
.button {
    width: 10vw;
    cursor: pointer;
    margin-top: 2px;
}

.picture-and-statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; 
    margin-top: 5%; 
    margin-bottom: 8%;
}

.picture{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%; 
}
.currentCar {
    width: 25%; 
}

.arrow{
    margin-top: 12%;
    width: 8%; 
    height: 26%;
    cursor: pointer;
}
.statistics{
    width: 40vw;
    height: 30vh;
}

.stats{
    box-sizing: border-box;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    height: 20vh;
}

.stats-names{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats-drawing{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.graph{
    box-sizing: border-box;
    border-radius: 0;
    border-width:  0.32vw;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    width: 10.61vw;
    height: 3.2vh;
}

.FutureMaxSpeedGraph{
    background-color: #c4c4f3b4;
    width: 1vw;
    height: 2vh;
}

.MaxSpeedGraph{
    background-color: #d4f9bc;
    width: 1vw;
    height: 2vh;
    margin-top: -2vh;
}

.FutureAccelerationGraph{
    background-color: #c4c4f3b4;
    width: 1vw;
    height: 2vh;
}

.AccelerationGraph{
    background-color: #d4f9bc;
    width: 1vw;
    height: 2vh;
    margin-top: -2vh;
}

.FutureManeuverabilityGraph{
    background-color: #c4c4f3b4;
    width: 1vw;
    height: 2vh;
}

.ManeuverabilityGraph{
    background-color: #d4f9bc;
    width: 1vw;
    height: 2vh;
    margin-top: -2vh;
}

.money{
    box-sizing: border-box;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 3%;
    width: 40vw;
    margin-top: 3%;
}
.field{
    box-sizing: border-box;
    width: 60vw;
    height: 30vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 0px;
}
.shop-field{
    box-sizing: border-box;
    width: 60vw;
    height: 30vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 10px;
    visibility: hidden;
    position: relative;
    top: -6px;
    left: -6px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .field-text{
    margin: 10%;
} */

.shop-field-car{
    width: 5vw;
    margin-top: 1vh;
    margin-left: 3vw;
}

.shop-field-button{
    box-sizing: border-box;
    width: 12vw;
    height: 8vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #d4f9bc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    padding-top: 10%;
    margin-top: 2vh;
}

.tuning-field{
    box-sizing: border-box;
    width: 60vw;
    height: 30vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 10px;
    visibility: hidden;
    position: relative;
    margin-top: -6px;
    top: -30vh;
    left: -6px;
}

.tuning-field-icon{
    width: 8vw;
    margin-top: 1vh;
}

.tuning-field-selection{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.tuning-field-button{
    width: 8vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tuningArrow{
    padding-bottom: 3%;
    width: 10%; 
    height: 30%;
    cursor: pointer;
}

.tuning-upgradecost{
    width: 60vw;
    height: 4vh;
}

.tuning-field-Purchasebutton{   
    width: 14vw;
    height: 6vh;
    box-sizing: border-box;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #d4f9bc;
    padding: 10px;
    cursor: pointer;
    
}
.style-field{
    box-sizing: border-box;
    width: 60vw;
    height: 30vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    padding: 10px;
    visibility: hidden;
    position: relative;
    top: -60vh;
    left: -6px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
}

.style-field-car{
    width: 4vw;
    height: 12vh;
    margin-top: 1vh;
    margin-left: 3vw;
}

.style-field-button{
    box-sizing: border-box;
    width: 10vw;
    height: 8vh;
    border-radius: 0;
    border-width:  6px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #d4f9bc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    padding-top: 10%;
    margin-top: 2vh;
}