.page {
    margin: 0;
    height: 96vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #ffc30e;
    padding: 5vh;
}



.sign-in-img {
    width: 30vw;
}