*
{
    margin: 0;
    padding: 0;
    scroll-margin-left: 50%;
    overflow: hidden;
}

.map
{
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(15, 96px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: -1;
}

#move {
    position: absolute;
    top: 720px;
    left: 720px;
    width: 1440px;
    height: 1440px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#trash-car {
    position: absolute;
    top: 0;
    left: 0;
}

.tile
{
    width: 96px;
    height: 96px;
}

.tile__pic {
    width: 96px;
    height: 96px;
}

.main {
    background-image: url("../map tiles sprites/game-area-background.png");
    width: 2880px;
    height: 2880px;
    zoom: 300%;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 15px;
}

.red {
    width: 1px;
    height: 1px;
    background-color: crimson;
    position: absolute;
    top: 0px;
    left: 0px;
}

#dial-stand {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 0px;
    background-size: contain;
    background-image: url("/static/sprites/dial-stand.png");
}

#dial {
    position: absolute;
    height: 2px;
    width: 30px;
    bottom: 18%;
    left: 20%;
    transform: rotate(0deg);
}

.minitile__pic {
    width: 5px;
    height: 5px;
}

.minimap {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: grid;
    grid-template-columns: repeat(15, 5px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 1;
}

.mapdot {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}


.corner {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}




.modal-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    visibility: visible;
}

.finish-tablo{
    position: fixed;
    margin-left: 8vw;
    margin-top: 8vh;
    top: 5px;
    z-index: 100;
    width: 17vw;
    height: 17vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 8px solid #ffc30e;
    background-color:#ffe6bf;
    visibility: hidden;  
    font-size: 5px;
    z-index: 100;
}

table td {
    padding: 3px;
}

table tr:nth-child(1) td {
    background-color: #A61D00; 
}
  
table tr:nth-child(2) td {
    background-color: #FF2C00; 
}
  
table tr:nth-child(3) td {
    background-color: #FF6140;
}
  
table tr:nth-child(4) td {
    background-color: #FF9773;
}
  
.finish-results__heading{
    font-size: 7px;
    color: #ffa826;
    margin: 0 0 2px 2px;
}

.finish-earning{
    display: flex;
    flex-direction: column;
}

.finish-earning__heading{
    font-size: 7px;
    color: #ffa826;
    margin-bottom: 4px;
}

.finish-earning__data{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.earned-money{
   padding: 3px;
   background-color: #776bb9;
}

.earned-experience{
    padding: 3px;
    background-color: #776bb9;
}

.back-to-menu-button
{
    height: 24px;
    margin-bottom: 2px;
    cursor: pointer;
    font-family: 'Press Start 2P';
    color: #ffa826;
    font-size: 10px;
    border-radius: 2px;
    border-color: #cf820e;
    background-color: #f0d9ba;

    display: flex;
    align-items: center;
    justify-content: center;
}

#waiting {
    font-size: 7px;
}

#notification {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 5px;
}

.bar {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 7px;
    background-color: gray;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
}

.HP {
    background-color: red;
    width: 100%;
    height: 2px;
}

.timer {
    position: fixed;
    top: 2vh;
    left: 8vw;
    height: 3vh;
    width: 17vw;
    font-size: 1vh;
    border-width:  3px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffe6bf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 100;
}


#achive__get{
    color: #c0b8b8;
    font-size: 0.2vh;
    margin: 0.06vh;
}

#achive {
    position: fixed;
    top: 0;
    right: 0;
    height: 2vh;
    width: 0vw;
    font-size: 0.5vh;
    border-width:  0px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffe6bf;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: all 0.3s ease-out;
}

#achive__img {
    height: 1.8vh;
    width: 1.8vh;
    margin-left: 0.2vh;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 0.1vw;
}

#achive__subtitle {
    font-size: 0.3vh;
    color: #838181;
    margin: 0.06vh;
}

#achive__steps {
    font-size: 0.2vh;
    color: #838181;
    margin: 0.06vh;
}

.bigger {
    animation: rotors 0.2s;
}

@keyframes rotors 
{
    from 
    {
        background-color: #ffffff00;
        transform: scale(1, 1);
    }
    33% 
    {
        background-color: #ff0000;
        transform: scale(1.4, 1.4);
    }
    66%
    {
        background-color: #ff0000;
        transform: scale(1.4, 1.4);
    }
    to 
    {
        background-color: #ffffff00;
        transform: scale(1, 1);
    }
}

#check {
    border-radius: 2px;
}