*
{
    margin: 0;
    padding: 0;
    scroll-margin-left: 50%;
    overflow: hidden;
}

.map
{
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(15, 96px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: -1;
}

#move {
    position: absolute;
    top: 720px;
    left: 720px;
    width: 1440px;
    height: 1440px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#trash-car {
    position: absolute;
    top: 0;
    left: 0;
}

.tile
{
    width: 96px;
    height: 96px;
}

.tile__pic {
    width: 96px;
    height: 96px;
}

.main {
    background-image: url("../map tiles sprites/game-area-background.png");
    width: 2880px;
    height: 2880px;
    zoom: 500%;
}

.red {
    width: 1px;
    height: 1px;
    background-color: crimson;
    position: absolute;
    top: 0px;
    left: 0px;
}