.page {
    margin: 0;
    height: 96vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #ffc30e;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 30px;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 7vh;
}

.game {
    font-size: 10vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 15vw;
}

.input-join-lobby
{
    width: 300px;
    height: 320px;
    background: url('../img/tocken.png') no-repeat;
    background-size: 300px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
 
}

.input-join-lobby__form
{
}

#JoinLobbyBox
{
    position: absolute;
    top: 40%;
    left: 43%;
}