.page {
    margin: 0;
    height: 86vh;
    background-color: #ffe6bf;
    border-style: solid;
    border-width: 2vh;
    border-color: #ffc30e;
    padding: 5vh;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 35px;
}

.title {
    font-size: 100px;
}

.sign-in-img {
    width: 30vw;
}

.centering {
    display: flex;
    align-items: center;
}

.forma {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.registration__login {
    margin: 10px;
    cursor: pointer;
    font-size: 2vh;
}

.registration__login:hover{
    margin: 10px;
    color: #a17c0c;
}

.login-box__field {
    border-radius: 0;
    border-width:  3px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 30px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    width: 40vw;
    box-sizing: border-box;
}

.login-box__button {
    margin-top: 20px;
    border-radius: 0;
    border-width:  3px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 30px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

#upload {
    border-width:  3px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    width: 28vw;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    border-width:  3px;
    border-style: solid;
    border-color: #ffc30e;
    background-color: #ffdb7f;
    width: 40vw;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    color: #ffc30e;
    font-size: 35px;
    margin-top: 10px;
}

.ava {
    height: 10vw;
    width: 10vw;
    border-width:  3px;
    border-style: solid;
    border-color: #ffc30e;
    box-sizing: border-box;
}

.fl {
    display: flex;

}