<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/sources/favicon.ico" type="image/x-icon">
        <Title>Escape.</Title>
        <link rel="stylesheet" type="text/css" href="../static/css/createstyle.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        
        <script defer src="../static/js/lobby.js"></script>
    </head>
    <body class="page centering">
        <span class="title">Lobby</span>
        <span class="title">{{ .Token }}</span>
        <div class="sector">
            <div class="window">
                <span>party</span>
                {{ range .Lobby }}
                    <div class="player">
                        <img src="{{ .ImgPath }}" class="avatar">
                        <span>{{ .Nickname }}</span>
                        <span>{{ .Level }}</span>
                    </div>
                {{ end }}
            </div>
            <div>
                <div class="settings">
                    <span>settings</span>
                    <div class="maps" id="maps">
                        <div>
                            <img src="/static/sprites/triangle.png" class="triangle" id="triangle">
                            <span>choose map</span>
                            
                            <div class="list" id="list">
                                {{ range .Maps}}
                                    <div id="m{{ .MapID }}" class="map-choose-line" onclick="choosen(event)">
                                        <span>{{ .MapID }}</span>
                                        <div class="preview">
                                            {{ range .MapPreview }}
                                                <img class="tile__pic" src="../static/map tiles sprites/{{ .CellPath }}.png">
                                            {{ end }}
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="button" class="button">
                    <span>START</span>
                </div>
            </div>
        </div>
    </body>
</html>