<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/sprites/AY.png" type="image/x-icon" />
    <title>BRAINLESS RACES</title>
    <link rel="stylesheet" type="text/css" href="../static/css/map.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />

    <script defer src="../static/js/mapS.js"></script>
  </head>
  <body class="main">

      <div class="finish-tablo" id="table">
        <div class="finish-results">
          <h3 class="finish-results__heading">Results</h3>
          <table>
            <tbody>
              <tr>
                <td>1</td>
                <td id="Name1"></td>
                <td id="Time1"></td>
              </tr>
              <tr>
                <td>2</td>
                <td id="Name2"></td>
                <td id="Time2"></td>
              </tr>
              <tr>
                <td>3</td>
                <td id="Name3"></td>
                <td id="Time3"></td>
              </tr>
              <tr>
                <td>4</td>
                <td id="Name4"></td>
                <td id="Time4"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="finish-earning">
          <h3 class="finish-earning__heading">Gained</h3>
          <div class="finish-earning__data">
            <div class="earned-money">
              <span>+</span><span id="money"></span><span> $</span>
            </div>
            <div class="earned-experience">
              <span>+</span><span id="exp"></span><span> exp.</span>            
            </div>
            <div class="back-to-menu-button" id="button">Menu</div>
          </div>
        </div>  
      </div>


    <div class="corner">
      <span id="round">1</span>
      <span id="waiting"></span>
    </div>
    <span id="notification"></span>
    <div id="dial-stand">
      <img src="/static/sprites/dial.png" id="dial" />
    </div>
    <div id="minimap" class="minimap">
      <div class="red mapdot" id="mapdot0"></div>
      <div class="red mapdot" id="mapdot1"></div>
      <div class="red mapdot" id="mapdot2"></div>
      <div class="red mapdot" id="mapdot3"></div>
      {{ range .GameArea }}
      <img
        class="minitile__pic"
        src="../static/map tiles sprites/{{ .CellInfo }}.png"
      />
      {{ end }}
    </div>
    <div id="move">
      <div class="red" id="r1"></div>
      <div class="red" id="r2"></div>
      <div class="red" id="r3"></div>
      <div class="red" id="r4"></div>
      <canvas id="canvas"></canvas>
      <div class="map">
        {{ range .GameArea }}
        <div class="tile">
          <img
            class="tile__pic"
            src="../static/map tiles sprites/{{ .CellInfo }}.png"
          />
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
